.hidden {
    display: none;
}
#map {
    height: 600px;
    width: 100%;
}
.map {
    height: 350px;
    width: 350px;
    margin-bottom: 40px;
}
#bike-gif {
    width: 100px;
}
.disable {
    background-color: #e6e6e6;
}
.sidebar {
    position: fixed;
    margin-left: -100px;
    background-color: white;
}
#wrapper {
  padding-left: 100px;
  transition: all 0.4s ease 0s;
}
body {
    padding-top: 70px;
    background-attachment: fixed;
    width: 100%;
}
#flash-message {
    margin-left: 30px;
    margin-top: 10px;
    width: 95%;
}
.main-page {
    background-color: white;
}
input {
    margin-bottom: 10px;
}
.btn {
    margin-bottom: 15px;
}
img {
    margin-bottom: 15px;
}
select {
    margin-bottom: 10px;
}