.address {
    width: 300px;
}
.hidden {
    display: none;
}
#map {
    height: 500px;
}
.map {
    height: 400px;
    width: 700px;
}
#bike-gif {
    width: 100px;
}
.disable {
    background-color: #e6e6e6;
}
.left-hand-pane {
    margin-left: 10px;
}