.hidden {
    display: none;
}
#map {
    height: 400px;
    width: 100%;
    margin-bottom: 20px;
}
.map {
    height: 350px;
    width: 100%;
    margin-bottom: 40px;
}
#bike-gif {
    width: 100px;
}
.disable {
    background-color: #e6e6e6;
}
body {
    padding-top: 70px;
    background-attachment: fixed;
    margin-left: -50px;
    width: 100%;
    background-color: #def7df;
    font-family: 'Lora', serif;
    font-size: 155%;
}
.navbar {
    background-color: #10700d;
}
.navbar .container-fluid .white-text {
    color: #ffffff;
    font-size: 110%;
}
.navbar .container-fluid .white-text a {
    color: #ffffff;
    font-size: 110%;
}
.navbar .container-fluid .white-text a:hover {
    color: #FFF5DA;
}
h3 {
    font-family: 'Lato', sans-serif;
}
#flash-message {
    margin-left: 10%;
    margin-top: 10px;
    width: 80%;
}
.main-page {
    background-color: white;
}
input {
    margin-bottom: 10px;
}
input[type=radio] {
    margin-bottom: 10px;
}
input[type=submit] {
    margin-top: 10px;
}
.btn {
    margin-bottom: 15px;
}
img {
    margin-bottom: 15px;
}
select {
    margin-bottom: 10px;
}
p {
    width: 100%;
}
.ride-stats span {
    font-weight: bold;
}
@media (max-width: 850px) {
    body {
        margin-left: 0;
    }
}
#miles-field {
    width: 200px;
}