<!doctype html>
<html>
<head>
    <title>{% block title %}Bike Route Generator{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="static/styles.css">
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
              <p>{{ message }}</p>
            {% endfor %}
        {% endif %}
    {% endwith %}
</head>
<body>
    <h1>Bike Route Generator</h1>
    {% if email %}
        <p><a href="/">Home</a></p>
        <p><a href="/saved_routes">Saved Routes</a></p>
        <p><a href="/rejected_routes">Rejected Routes</a></p>
        <p>Logged in as {{ email }}</p>
        <p><a href="/logout">Log Out</a></p>
    {% endif %}
    {% block content %}{% endblock %}
</body>
</html>