{% extends 'base.html' %}
{% block content %}

    <h2>Bike Route Generator</h2>

    <!-- Displays route fields -->
    <div>
        <form action="/test-results" method="POST" id="route-form" novalidate>
            <label for="start-address">Start address:</label>
            
            <select name="address-options" id="address-dropdown">
                {% if addresses %}
                    {% for address in addresses %}
                        <option class="address">{{ address[0] }}</option>
                    {% endfor %}
                {% else %}
                    <option value="blank-address-option"></option>
                {% endif %}
                <option value="create-new-address" id="new-address">+ new address</option>
            </select>
            
            <script src="https://code.jquery.com/jquery.js"></script><br>

            <label for="route-type">Route type:</label>
            
            <select name="route-type" id="route-type">
                <option value="loop">Loop</option>
                <option value="midpoint">Midpoint</option>
            </select>
            
            <div class="hidden" id="midpoint-field">
                <label for="midpoint-address">Midpoint address:</label>
                <input type="midpoint-address" id="midpoint-address" class="address" name="midpoint-address">
            </div>
            
            <div id="miles-field">
                <label for="total-miles">How many miles?</label>
                <input type="total-miles" id="total-miles" name="total-miles" required>
            </div><br>
            
            <input type="submit" value="Let's ride!">
        </form>
    </div>

    <!-- Displays new address fields, hidden by default -->
    <div id="new-address-information" class="hidden">
        <h3>New address information</h3>
        
        <form action="/new-address" method="POST" id="new-address-form">
            <label for="label-field">Name:</label>
            <input type="label-field" id="label-field" name="label-field"><br>
            
            <label for="new-address-field">Address:</label>
            <input type="new-address-field" id="new-address-field" class="address" name="new-address-field"><br>

            <label for="radio">Default address?</label>
            <input type="radio" name="default-address" value="true" id="default-address"> Yes<br>

            <input type="submit" value="Save" id="save-button">
        </form>
    </div>

    <div id="results-dropdowns" class="hidden">
        <p id="ride-stats"></p>
        
        <div>
            <p>Do you want to save this route?</p>
            
            <div>
                <input type="radio" name="save-option" value="yes" id="yes-option"> Yes<br>
                <form action="/add-score" id="accepted-route-form" method="POST" class="hidden">
                    <select name="rating" id="rating">
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                        <option>5</option>
                    </select>
                    <input type="submit" value="Save" id="save-rating">
                </form>
            </div>

            <div>
                <input type="radio" name="save-option" value="no" id="no-option"> No<br>
                <form action="/reject-route" id="rejected-route-form" method="POST" class="hidden">
                    <select name="issue" id="issue">
                        <option id="impossible">Impossible route</option>
                        <option id="traffic">Major roads / traffic</option>
                        <option id="no-lanes">No bike lanes</option>
                        <option id="dont-like">Not feeling it</option>
                        <option id="overlapped">Overlapped sections</option>
                    </select>
                    <input type="submit" value="Save" id="save-reason">
                </form>
                <br>
            </div>
        </div>

    </div>

    <div id="map"></div>

    <script async defer
        src="https://maps.googleapis.com/maps/api/js?key=" + {{ api_key }}>
    </script>

    <script src="https://code.jquery.com/jquery.js"></script>
    
    <script>
        "use strict";

        var dropdown = document.getElementById("address-dropdown");

        dropdown.onchange = function(){
           // Hide "new address" fields by default
           $('#new-address-information').addClass("hidden");

           // Display fields when "+ new address" is selected in "Start address" dropdown
           if(dropdown.value=="create-new-address"){
             $('#new-address-information').removeClass();
           }
        }

        var route_dropdown = document.getElementById("route-type");

        route_dropdown.onchange = function(){
            // Hide midpoint & miles fields by default
            $('#midpoint-field').addClass("hidden");
            $('#miles-field').addClass("hidden");
            
            // Display miles field when "Loop" route is selected
            if(route_dropdown.value=="loop"){
                $('#miles-field').removeClass();
            }

            // Display midpoint field when "To midpoint and back" route is selected
            else if(route_dropdown.value=="midpoint"){
                $('#midpoint-field').removeClass();
            }
        }

        function updateAddressDropdown(result) {
            // Hide "new address" fields when triggered
            $("#new-address-information").addClass("hidden");
            
            // Remove current addresses from "Start address" dropdown
            $('#address-dropdown').empty();

            var addresses = result.addresses;
            
            // Add all addresses (including new) to "Start address" dropdown
            for (var step = 0; step < addresses.length; step++) {
                $('#address-dropdown').append($('<option></option>').html(addresses[step][0]));
            }
            $('#address-dropdown').append('<option value="create-new-address">+ new address</option>');
        }

        function addAddress(evt) {
            evt.preventDefault();

            // Passes new address information to server.py route for processing
            var formInputs = {
                "new-address-field": $("#new-address-field").val(),
                "label-field": $("#label-field").val(),
                "default-address": $('#default-address').is(':checked')
            };
            $.post("/new-address", formInputs, updateAddressDropdown);
        }

        $('#new-address-form').on("submit", addAddress);

        var yes_selected = document.getElementById("yes-option");
        yes_selected.onchange = function(){
            $('#accepted-route-form').removeClass();
            $('#rejected-route-form').addClass("hidden");
        }

        var no_selected = document.getElementById("no-option");
        no_selected.onchange = function(){
            $('#accepted-route-form').addClass("hidden");
            $('#rejected-route-form').removeClass();
        }

        function initMap(waypoints, mid_lat, mid_lon) {
            var waypoints = waypoints;

            var mid_lat = mid_lat;
            var mid_lon = mid_lon;

            var midpoint = {"lat": mid_lat, "lng": mid_lon};
            var start_point = {"lat": waypoints[0][0], "lng": waypoints[0][1]}

            // Instantiate map
            var directionsService = new google.maps.DirectionsService;
            var directionsDisplay = new google.maps.DirectionsRenderer({suppressMarkers: true});

            // Configure map, pass lat/lon pairs to displayRoute
            var map = new google.maps.Map(document.getElementById('map'), {
                zoom: 25,
                center: midpoint,
                mapTypeControl: false,
                streetViewControl: false,
            });

            // Place marker for start/end point
            var marker = new google.maps.Marker({
              position: start_point,
              map: map
            });

            // Display map based on configuration
            directionsDisplay.setMap(map);

            // Call displayRoute function to display bike route
            displayRoute(directionsService, directionsDisplay, waypoints);
        }

        function displayRoute(directionsService, directionsDisplay, waypoints) {

            // Prepare start/end point
            var start_lat = waypoints[0][0];
            var start_lng = waypoints[0][1];
            var start_point = start_lat + ', ' + start_lng;

            // Prepare waypoints along route
            var waypts = [];

            for (var i = 1; i < waypoints.length; i++) {
                waypts.push({location: String(waypoints[i][0]) + ', ' + String(waypoints[i][1])})
            }

            // Create route, starting & ending at origin, passing through waypoints
            directionsService.route({
                origin: start_point,
                destination: start_point,
                waypoints: waypts,
                travelMode: 'BICYCLING'
            },

            // Error handling
            function(response, status) {
                if (status === 'OK') {
                    directionsDisplay.setDirections(response);
                } else {
                    console.log('Directions request failed due to ' + status);
                }
            });
        }

        function displayResults(results) {
            $('#results-dropdowns').removeClass();

            var total_miles = results.miles;
            var total_elevation = results.elevation;
            var total_time = results.minutes;
            var waypoints = results.waypoints;
            var api_key = results.api_key;
            var mid_lat = results.mid_lat;
            var mid_lon = results.mid_lon;

            $('#ride-stats').text("Miles "+ total_miles.toFixed(1) + " miles | Time: " + Math.round(total_time) + " minutes | Total climb: " + Math.round(total_elevation) + " ft")
            initMap(waypoints, mid_lat, mid_lon)
        }

        function createRoute(evt) {
            evt.preventDefault();

            var formInputs = {
                "start": $("#address-dropdown").val(),
                "route": $("#route-type").val(),
                "num_miles": $('#total-miles').val(),
                "midpoint": $('#midpoint-address').val()
            };
            
            $.post("/results", formInputs, displayResults)
        }

        $('#route-form').on("submit", createRoute);

    </script>

{% endblock %}