{% extends 'base.html' %}
{% block content %}
    <div>
        <form action="/results" method="POST" id="route-form">
            <label for="start-address"></label>
            <input type="start-address" id="start-address" class="address" name="start-address" value="Enter start address" required>
            <select name="route-type">
                <option>Pick a type of route</option>
                <option value="loop">Loop</option>
                <option value="midpoint">To midpoint and back</option>
            </select>
            <input type="submit" value="Let's ride!">
        </form>
    </div>

{% endblock %}