{% extends 'base.html' %}
{% block title %}Log In{% endblock %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-xs-offset-3 col-xs-6 main-page">
            <h2>Log In / <a href="/register">Register</a></h2>
            <form action="/login" method="POST" id="login-form">
                <label for="email">Email address</label>
                <input type="email" id="email" class="form-control" name="email" autocomplete="off" placeholder="user@email.com" required>
                <label for "password">Password</label>
                <input type="password" id="password" class="form-control" name="password" autocomplete="off" placeholder="*******" required>
                <input type="submit" class="btn btn-primary" value="Let's ride!">
            </form>
        </div>
    </div>
</div>
{% endblock %}