{% extends 'base.html' %}
{% block title %}Rejected Routes{% endblock %}
{% block content %}
    <p>Logged in as {{ email }}</p>
    <p><a href="/logout">Log Out</a></p>

    <!-- Placeholder images until Google Maps route map is created -->
    <p>Route 1</p>
    <img src="http://www.drodd.com/images15/maps10.jpg" width=500>
    <p>Route 2</p>
    <img src="http://www.drodd.com/images15/maps10.jpg" width=500>
    <p>Route 3</p>
    <img src="http://www.drodd.com/images15/maps10.jpg" width=500>
{% endblock %}