{% extends 'base.html' %}
{% block title %}Rejected Routes{% endblock %}
{% block content %}
    {% for route in routes %}
        {% if not route.is_accepted %}
            <div>
                <h3>Route #{{ route.route_id }}</h3>
                <p>Total climb: {{ "{:.0f}".format(route.total_ascent * 3.28) }} ft</p>
                <p>Issue: {{ route.issue }}</p>
                {% for waypoint in route.waypoints %}
                    <p>{{ waypoint.latitude }}, {{ waypoint.longitude }}</p>
                {% endfor %}
            </div>
        {% endif %}
    {% endfor %}
{% endblock %}