{% extends 'base_logged_in.html' %}
{% block title %}Routes{% endblock %}
{% block content %}

<div class="container" id="wrapper">
    <div class="row">

        <div class="col-xs-offset-1 col-xs-10 col-sm-5 col-md-5 col-lg-3">

            <h3>Filter Options</h3>

            <form action="/filter" method="GET" id="filter-form" class="form-inline" novalidate>

                <label>Accepted
                    <input type="radio" name="route-approval" value="True" id="accepted-routes" class="route-approval" checked>
                </label>

                <label>Rejected
                    <input type="radio" name="route-approval" value="False" id="rejected-routes" class="route-approval"><br>
                </label><br>

                <p><b>Total Miles</b></p>
                <div id="mile-range" class="form-group">
                    <input type="min-miles" id="min-miles" class="miles form-control" name="min-miles" placeholder="Minimum" autocomplete="off">
                </div>

                <div class="form-group">
                    <input type="max-miles" id="max-miles" class="miles form-control" name="max-miles" placeholder="Maximum" autocomplete="off">
                </div>

                <p><b>Total Time (minutes)</b></p>
                <div id="time-range" class="form-group">
                    <input type="min-minutes" id="min-minutes" class="minutes form-control" name="min-minutes" placeholder="Minimum" autocomplete="off">
                </div>

                <div class="form-group">
                    <input type="max-minutes" id="max-minutes" class="minutes form-control" name="max-minutes" placeholder="Maximum" autocomplete="off">
                </div>

                <p><b>Total Climb (ft)</b></p>
                <div id="elevation-range" class="form-group">
                    <input type="min-elevation" id="min-elevation" class="elevation form-control" name="min-elevation" placeholder="Minimum" autocomplete="off">
                </div>

                <div class="form-group">
                    <input type="max-elevation" id="max-elevation" class="elevation form-control" name="max-elevation" placeholder="Maximum" autocomplete="off">
                </div>

                
                <p><b>Score</b></p>
                <div id="score-range" class="form-group">
                    <input type="min-score" id="min-score" class="score form-control" name="min-score" placeholder="Minimum" autocomplete="off">
                </div>

                <div class="form-group">
                    <input type="max-score" id="max-score" class="score form-control" name="max-score" placeholder="Maximum" autocomplete="off">
                </div>

                <div>
                    Sort By: <select name="sort-options" id="sort-dropdown">
                        <option id="sort-option" value="score">Score</option>
                        <option id="sort-option" value="route-id">Date created</option>
                        <option id="sort-option" value="time">Time</option>
                        <option id="sort-option" value="elevation">Elevation</option>
                        <option id="sort-option" value="miles">Miles</option>
                    </select><br>

                    <label>Asc
                        <input type="radio" name="sort-method" value="asc" id="asc" class="sort-method">
                    </label>

                    <label>Desc
                        <input type="radio" name="sort-method" value="desc" id="desc" class="sort-method" checked><br>
                    </label>
                </div>

                <button value="Apply" id="apply-button" class="btn btn-primary">Apply</button>
                <br>

            </form>
        </div>

        <div id="all-routes">

            {% for route in routes %}
                {% if route.is_accepted == True %}
                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-offset-1 col-lg-3 saved-routes">
                    
                    <p>
                        {{ route.total_miles }} miles | {{ route.total_minutes | int }} minutes | {{ "{:.0f}".format(route.total_ascent) }} ft
                    </p>

                    <p>
                    {% for n in range(route.score) %}
                        <span class="glyphicon glyphicon-star"></span>
                    {% endfor %}
                    </p>

                    <div class="map" id="map{{ route.route_id }}" data-id="{{ route.route_id }}"></div>
                </div>

                {% endif %}
            {% endfor %}
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery.js"></script>

<script src="static/routes.js"></script>

<script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBlY0gdpn-82bFjwWdaAPdQ_oOtJwd9Y3s&callback=retrieveWaypoints">
</script>

{% endblock %}