{% extends 'base.html' %}
{% block title %}Routes{% endblock %}
{% block content %}

    <h2>Routes</h2>

    <h3>Filter options</h3>

    <form action="/filter" method="GET" id="filter-form" novalidate>

        <b>Route Type</b>
        <br>
        <input type="radio" name="route-approval" value="True" class="route-approval" id="accepted-routes" checked>Accepted<br>
        <input type="radio" name="route-approval" value="False" class="route-approval" id="rejected-routes">Rejected<br>

        <br>
        <b>Total Miles</b>
        <div id="mile-range">
            <label for="min-miles">Min:</label>
            <input type="min-miles" id="min-miles" class="miles" name="min-miles" placeholder="0" autocomplete="off">

            <label for="max-miles">Max:</label>
            <input type="max-miles" id="max-miles" class="miles" name="max-miles" placeholder="1000" autocomplete="off">
        </div>

        <br>
        <b>Total Time (minutes)</b>
        <div id="time-range">
            <label for="min-minutes">Min:</label>
            <input type="min-minutes" id="min-minutes" class="minutes" name="min-minutes" placeholder="0" autocomplete="off">

            <label for="max-minutes">Max:</label>
            <input type="max-minutes" id="max-minutes" class="minutes" name="max-minutes" placeholder="1000" autocomplete="off">
        </div>

        <br>
        <b>Total Elevation (ft)</b>
        <div id="elevation-range">
            <label for="min-elevation">Min:</label>
            <input type="min-elevation" id="min-elevation" class="elevation" name="min-elevation" placeholder="0" autocomplete="off">

            <label for="max-elevation">Max:</label>
            <input type="max-elevation" id="max-elevation" class="elevation" name="max-elevation" placeholder="5000" autocomplete="off">
        </div>
        <br>

        <div id="score-range">
            <b>Score</b>
            <br>

            <label for="min-score">Min:</label>
            <input type="min-score" id="min-score" class="score" name="min-score" placeholder="0" autocomplete="off">
            
            <label for="max-score">Max:</label>
            <input type="max-score" id="max-score" class="score" name="max-score" placeholder="5" autocomplete="off">
            <br>
            <br>
        </div>

        <div>
            Sort By: <select name="sort-options" id="sort-dropdown">
                <option id="sort-option" value="score">Score</option>
                <option id="sort-option" value="route-id">Date created</option>
                <option id="sort-option" value="time">Time</option>
                <option id="sort-option" value="elevation">Elevation</option>
                <option id="sort-option" value="miles">Miles</option>
            </select>

            <input type="radio" name="sort-method" value="asc" id="asc" class="sort-method">Asc
            <input type="radio" name="sort-method" value="desc" id="desc" class="sort-method" checked>Desc<br>
        <div>

        <br>
        <button value="Apply" id="apply-button">Apply</button>
        <br>

    </form>
    <br>

    <div id="all-routes">
        {% for route in routes %}

            <div id="saved-routes">
                <div class="map" id="map{{ route.route_id }}" data-id="{{ route.route_id }}"></div>
                <p>{{ route.total_miles }} miles | {{ route.total_minutes | int }} minutes | {{ "{:.0f}".format(route.total_ascent) }} ft</p>
                
                {% if route.is_accepted == True %}
                    <p>Score: {{ route.score }}</p>
                {% else %}
                    <p>Issue: {{ route.issue }}</p>
                {% endif %}
            </div>

        {% endfor %}
    </div>

    <script src="https://code.jquery.com/jquery.js"></script>

    <script src="static/routes.js"></script>

    <script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBlY0gdpn-82bFjwWdaAPdQ_oOtJwd9Y3s&callback=retrieveWaypoints">
    </script>

{% endblock %}