{% extends 'base.html' %}
{% block title %}Saved Routes{% endblock %}
{% block content %}
    {% for route in routes %}
        {% if route.is_accepted %}
            <div>
                <h3>Route #{{ route.route_id }}</h3>
                <p>Miles: {{ route.total_miles }} miles | Time: {{ route.total_minutes | int }} minutes | Total climb: {{ "{:.0f}".format(route.total_ascent) }} ft</p>
                <p>Score: {{ route.score }}</p>
            </div>
        {% endif %}
        <div class="map" id="map{{ route.route_id }}" data-lat-a="{{ route.waypoints[0].latitude }}" data-lon-a="{{ route.waypoints[0].longitude }}" data-lat-b="{{ route.waypoints[1].latitude }}" data-lon-b="{{ route.waypoints[1].longitude }}" data-lat-c="{{ route.waypoints[2].latitude }}" data-lon-c="{{ route.waypoints[2].longitude }}"></div>
    {% endfor %}

<script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBlY0gdpn-82bFjwWdaAPdQ_oOtJwd9Y3s&callback=initMap">
</script>
<script src="https://code.jquery.com/jquery.js"></script>
<script>
    console.log("Got into JS");
    "use strict";

    function initMap() {
        console.log("Initialized map");

        var maps = document.getElementsByClassName('map');

        for (var i = 0; i < maps.length; i++) {
            console.log("one time through loop")
            lat_1 = Number(maps[i].getAttribute("data-lat-a"))
            lon_1 = Number(maps[i].getAttribute("data-lon-a"))
            lat_2 = Number(maps[i].getAttribute("data-lat-b"))
            lon_2 = Number(maps[i].getAttribute("data-lon-b"))
            lat_3 = Number(maps[i].getAttribute("data-lat-c"))
            lon_3 = Number(maps[i].getAttribute("data-lon-c"))

            // Need to split by loop vs. midpoint
            var start = {lat: lat_1, lng: lon_1};
            var mid_1 = {lat: lat_2, lng: lon_2};
            var mid_2 = {lat: lat_3, lng: lon_3};

            // Center map around midpoint of all lat/lon pairs, calculated below
            var max_lat = Math.max(lat_1, lat_2, lat_3)
            var min_lat = Math.min(lat_1, lat_2, lat_3)
            var mid_lat = min_lat + ((max_lat - min_lat) / 2)

            var max_lon = Math.max(lon_1, lon_2, lon_3)
            var min_lon = Math.min(lon_1, lon_2, lon_3)
            var mid_lon = min_lon + ((max_lon - min_lon) / 2)

            var directionsService = new google.maps.DirectionsService;
            var directionsDisplay = new google.maps.DirectionsRenderer({suppressMarkers: true});
            var map_id = maps[i].id

            var center_position = {lat: mid_lat, lng: mid_lon}

            console.log(center_position)

            var map = new google.maps.Map(document.getElementById(map_id), {
                zoom: 25,
                center: center_position,
                mapTypeControl: false,
                streetViewControl: false
            });
            var marker = new google.maps.Marker({
                position: start,
                map: map
            });
            directionsDisplay.setMap(map);
            displayRoute(directionsService, directionsDisplay, lat_1, lon_1, lat_2, lon_2, lat_3, lon_3);
        }
    }

    function displayRoute(directionsService, directionsDisplay, lat_1, lon_1, lat_2, lon_2, lat_3, lon_3) {
        var waypts = [{location: String(lat_2) + ', ' + String(lon_2)}, {location: String(lat_3) + ', ' + String(lon_3)}]
        
        directionsService.route({
        origin: String(lat_1) + ', ' + String(lon_1),
        destination: String(lat_1) + ', ' + String(lon_1),
        waypoints: waypts,
        travelMode: 'BICYCLING'
    }, function(response, status) {
        if (status === 'OK') {
            directionsDisplay.setDirections(response);
        } else {
            console.log('Directions request failed due to ' + status);
        }
        });
    }

</script>
{% endblock %}