<html>
<head>
</head>
<body>

    <canvas id="myChart" width="80%"></canvas>

    <script src="Chart.js"></script>

    <script>

    var ctx = "myChart";

    var data = {
        labels: ["N/NE", "NE/E", "E/SE", "SE/S", "S/SW", "SW/W", "W/NW", "NW/N"],
        datasets: [{
          backgroundColor: [
            "#2ecc71",
            "#3498db",
            "#95a5a6",
            "#9b59b6",
            "#f1c40f",
            "#e74c3c",
            "#34495e",
            "#2ecc71"
          ],
          data: [0.1, 0.25, 0.2, 0.1, 0.2, 0.1, 0.05, 0.05]
        }]
      }

    var myChart = new Chart(ctx, {
      type: 'polarArea',
      data: data
    });

    </script>

</body>
</html>